@model SAC_Web_Application.Models.MembersViewModels.AddMemberViewModel

@{
    ViewData["Title"] = "Subscriptions";
}

<h2>Subscription Form</h2>
<h3>@ViewData["SubName"]</h3>
<h3>Athlete Details</h3>
<form asp-action="Create">
    <div class="form-horizontal">        
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DOB" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger" />
            </div>
        </div>
        <!--<div class="form-group">
            <label asp-for="Gender" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select-- <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Male</a></li>
                    <li><a href="#">Female</a></li>
                </ul>
            </div>
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>-->
        <div class="form-group">
            <label asp-for="Gender" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Address1" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Address1" class="form-control" />
                <span asp-validation-for="Address1" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Address2" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Address2" class="form-control" />
                <span asp-validation-for="Address2" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PostCode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PostCode" class="form-control" />
                <span asp-validation-for="PostCode" class="text-danger" />
            </div>
        </div>
        <!--Commented drop down list for now since nothing gets selected-->

        <!--<div class="form-group">
            <label asp-for="County" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select-- <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Antrim</a></li>
                    <li><a href="#">Armagh</a></li>
                    <li><a href="#">Carlow</a></li>
                    <li><a href="#">Cavan</a></li>
                    <li><a href="#">Clare</a></li>
                    <li><a href="#">Cork</a></li>
                    <li><a href="#">Derry</a></li>
                    <li><a href="#">Donegal</a></li>
                    <li><a href="#">Down</a></li>
                    <li><a href="#">Dublin</a></li>
                    <li><a href="#">Fermanagh</a></li>
                    <li><a href="#">Galway</a></li>
                    <li><a href="#">Kerry</a></li>
                    <li><a href="#">Kildare</a></li>
                    <li><a href="#">Kilkenny</a></li>
                    <li><a href="#">Laois</a></li>
                    <li><a href="#">Leitrim</a></li>
                    <li><a href="#">Limerick</a></li>
                    <li><a href="#">Longford</a></li>
                    <li><a href="#">Louth</a></li>
                    <li><a href="#">Mayo</a></li>
                    <li><a href="#">Meath</a></li>
                    <li><a href="#">Monaghan</a></li>
                    <li><a href="#">Offaly</a></li>
                    <li><a href="#">Roscommon</a></li>
                    <li><a href="#">Sligo</a></li>
                    <li><a href="#">Tipperary</a></li>
                    <li><a href="#">Tyrone</a></li>
                    <li><a href="#">Waterford</a></li>
                    <li><a href="#">Westmeath</a></li>
                    <li><a href="#"> Wexford</a></li>
                    <li><a href="#"> Wicklow</a></li>
                </ul>
            </div>
            <span asp-validation-for="County" class="text-danger"></span>
        </div>-->
        <div class="form-group">
            <label asp-for="County" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="County" class="form-control" />
                <span asp-validation-for="County" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="City" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger" />
            </div>
        </div>
        <!--<div class="form-group">
            <label asp-for="Province" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select-- <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Connaught</a></li>
                    <li><a href="#">Leinster</a></li>
                    <li><a href="#">Munster</a></li>
                    <li><a href="#">Ulster</a></li>
                </ul>
                <span asp-validation-for="Province" class="text-danger"></span>
            </div>
        </div>-->
        <div class="form-group">
            <label asp-for="Province" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Province" class="form-control" />
                <span asp-validation-for="Province" class="text-danger" />
            </div>
        </div>
        <!--<div class="form-group">
            <label asp-for="CountyOfBirth" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select-- <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Antrim</a></li>
                    <li><a href="#">Armagh</a></li>
                    <li><a href="#">Carlow</a></li>
                    <li><a href="#">Cavan</a></li>
                    <li><a href="#">Clare</a></li>
                    <li><a href="#">Cork</a></li>
                    <li><a href="#">Derry</a></li>
                    <li><a href="#">Donegal</a></li>
                    <li><a href="#">Down</a></li>
                    <li><a href="#">Dublin</a></li>
                    <li><a href="#">Fermanagh</a></li>
                    <li><a href="#">Galway</a></li>
                    <li><a href="#">Kerry</a></li>
                    <li><a href="#">Kildare</a></li>
                    <li><a href="#">Kilkenny</a></li>
                    <li><a href="#">Laois</a></li>
                    <li><a href="#">Leitrim</a></li>
                    <li><a href="#">Limerick</a></li>
                    <li><a href="#">Longford</a></li>
                    <li><a href="#">Louth</a></li>
                    <li><a href="#">Mayo</a></li>
                    <li><a href="#">Meath</a></li>
                    <li><a href="#">Monaghan</a></li>
                    <li><a href="#">Offaly</a></li>
                    <li><a href="#">Roscommon</a></li>
                    <li><a href="#">Sligo</a></li>
                    <li><a href="#">Tipperary</a></li>
                    <li><a href="#">Tyrone</a></li>
                    <li><a href="#">Waterford</a></li>
                    <li><a href="#">Westmeath</a></li>
                    <li><a href="#"> Wexford</a></li>
                    <li><a href="#"> Wicklow</a></li>
                </ul>
                <span asp-validation-for="CountyOfBirth" class="text-danger"></span>
            </div>
        </div>-->
        <div class="form-group">
            <label asp-for="CountyOfBirth" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CountyOfBirth" class="form-control" />
                <span asp-validation-for="CountyOfBirth" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TeamName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TeamName" class="form-control" />
                <span asp-validation-for="TeamName" class="text-danger" />
            </div>
        </div>
        
    </div>
</form>

<h3>2nd Athlete Details</h3>
<div class="form-group" id="Member2">
    @Html.Partial("_Create2nd")
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Submit" class="btn btn-success" />
    </div>
</div>

@*@Html.ActionLink("Add Another Member", "_Create2", "Members", new { @class = "btn btn-primary "})*@
@if (User.IsInRole("Admin"))
{
    <div>
        <a asp-action="Index" class="btn btn-xs btn-warning">Member List</a>
    </div>
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
