<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sligo Athlethics Club</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Sligo Athlethics Club</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index"><span class="glyphicon glyphicon-home"></span>Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About"><span class="glyphicon glyphicon-bullhorn"></span>About Us</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact"><span class="glyphicon glyphicon-envelope"></span>Contact</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Information"><span class="glyphicon glyphicon-pencil"></span>Information</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Events"><span class="glyphicon glyphicon-calendar"></span>Events</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container">     
            <header class="jumbotron" style="padding:0em;background-color:black;">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-3">
                            <img src="~/images/logo.png" style="margin-left:-1.2em;" class="img-responsive" />
                        </div>
                        <div class="col-xs-9">
                            <img src="~/images/SACname.PNG" style="margin-top:2.5em;" class="img-responsive" />
                        </div>
                    </div>
                </div>      
            </header>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <div class="jumbotron" style="background-color:black;color:white; padding:1em">
            <footer>
                <div class="row">
                    <div class="col-md-3">
                        <div class="footerFormat">
                            <p style="font-size:24px;">Information</p>
                            <a runat="server" asp-controller="Home" asp-action="About" style="color:white;">About Us</a><br>
                            <a runat="server" href="~/" style="color:white;">News</a><br>
                            <a runat="server" asp-controller="Home" asp-action="Information" style="color:white;">Information</a><br>
                            <a runat="server" href="~/" style="color:white;">Gallery</a><br>
                            <a runat="server" asp-controller="Home" asp-action="Contact" style="color:white;">Contact US</a><br>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footerFormat">
                            <p style="font-size:24px;">Events</p>
                            <a runat="server" href="~/" style="color:white;">Results</a><br>
                            <a runat="server" href="~/" style="color:white;">Register</a><br>
                            <a runat="server" href="~/" style="color:white;">Login</a><br>
                            <a runat="server" href="http://www.athleticsireland.ie/" style="color:white;">Athletics Ireland</a><br>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footerFormat">
                            <p style="font-size:24px;">Useful Information</p>
                            <a runat="server" href="https://www.facebook.com/SouthSligoAthletic/" style="color:white;">South Sligo AC on </a><br>
                            <a runat="server" href="https://www.facebook.com/North-Sligo-Athletic-Club-104088472984492/" style="color:white;">North Sligo AC</a><br>
                            <a runat="server" href="https://www.facebook.com/corranac" style="color:white;">Corran AC</a><br>
                            <a runat="server" href="https://www.facebook.com/sligoroad.league" style="color:white;">Sligo Road Race League</a><br>
                            <a runat="server" href="http://www.sligotriathlon.ie/" style="color:white;">Sligo Triathlon Club</a><br>
                            <a runat="server" href="http://www.warriorsfestival.com/" style="color:white;">Warriors Run</a><br>
                            <a runat="server" href="http://www.runireland.com/" style="color:white;">Run Ireland</a><br>
                            <a runat="server" href="http://www.athleticsireland.ie/runzone/irish-runner/" style="color:white;">Irish Runner Magazine</a><br>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <p style="font-size:24px;">Our Sponsors</p>
                        <img class="img-responsive" src="~/images/Amcor.jpeg" style="width:18em; height:7em;" />
                        <img class="img-responsive" src="~/images/SligoCU.png" style="width:18em; height:7em;" />
                    </div>
                </div>

                <p class="bottom-left" style="font-size:16px; margin-bottom:0.2em; margin-top:1em;">&copy; 2016 Sligo Athletic Club</p>
            </footer>
        </div>

    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
