@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<span>
    2016 CLUB COMMITTEE

    <br />Chairperson: Gary Reynolds
    <br />Vice Chairperson: Vanessa Foley
    <br />Secretary: Fionnuala Silke
    <br />Treasurer: Joe Davey
    <br />PRO: Michael O'Connell
    <br />Assistant PRO: David Kearins
    <br />Child Protection: Cindy McCarty
    <br />Registrar: Anne McHugh
    <br />Women's Team Captain: Cathy McCarthy
    <br />Men's Team Captain: Rory Connor
    <br />Coaches Rep: Terry Hayes

</span>
