@{
    ViewData["Title"] = "About us";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="container text-center">
    <div class="col-md-12">
        <div class="col-md-3 col-sm-6">
            <img class="img-circle img-responsive center-block" src="~/images/Comittee/GaryReynolds.jpg" />
            <p>Chairperson</p>
            <p>Gary Reynolds</p>
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="img-circle img-responsive center-block" src="~/images/Comittee/VanessaFoley.PNG" />
            <p>Vice Chairperson</p>
            <p>Vanessa Foley</p>
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="img-circle img-responsive center-block" src="~/images/Comittee/FionnualaSilke.PNG" />
            <p>Secretary</p>
            <p>Fionnuala Silke</p>
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="img-circle img-responsive center-block" src="~/images/Comittee/JoeDavey.PNG" />
            <p>Treasurer</p>
            <p>Joe Davey</p>
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="img-circle img-responsive center-block" src="~/images/Comittee/MichealOConnell.PNG" />
            <p>PRO</p>
            <p>Michael O'Connell</p>
        </div>
      
        <div class="col-md-3 col-sm-6">
            <img class="img-circle img-responsive center-block" src="~/images/Comittee/blank.png" />
            <p>Assistant PRO</p>
            <p>David Kearins</p>
        </div>
  
        <div class="col-md-3 col-sm-6">
            <img class="img-circle img-responsive center-block" src="~/images/Comittee/blank.png" />
            <p>Registrar</p>
            <p>Anne McHugh</p>
        </div>
       
        <div class="col-md-3 col-sm-6">
            <img class="img-circle img-responsive center-block" src="~/images/Comittee/CindyMcCarthy.PNG" />
            <p>Child Protection</p>
            <p>Cindy McCarty</p>
        </div>
       
        <div class="col-md-3 col-sm-6">
            <img class="img-circle img-responsive center-block" src="~/images/Comittee/CathyMcCarthy.PNG" />
            <p>Secretary</p>
            <p>Cathy McCarthy</p>
        </div>
        
        <div class="col-md-3 col-sm-6">
            <img class="img-circle img-responsive center-block" src="~/images/Comittee/FionnualaSilke.PNG" />
            <p>Women's Team Captain</p>
            <p>JFionnuala Silke</p>
        </div>
      
        <div class="col-md-3 col-sm-6">
            <img class="img-circle img-responsive center-block" src="~/images/Comittee/blank.png" />
            <p>Men's Team Captain</p>
            <p>Rory Connor</p>
        </div>

        
        <div class="col-md-3 col-sm-6">
            <img class="img-circle img-responsive center-block" src="~/images/Comittee/blank.png" />
            <p>Coaches Rep</p>
            <p>Terry Hayes</p>
        </div>

        </div>
    @*<table class="table  table-condensed table-responsive" style="width:70%" >
        <thead>
            <tr>
                <th></th>
                <th>Position</th>
                <th>Name</th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img class="img-circle img-responsive" src="~/images/Comittee/GaryReynolds.jpg" /></td>
                <td>Chairperson</td>
                <td>Gary Reynolds</td>
                
            </tr>
            <tr>
                
            </tr>
            <tr>
                <td>Secretary</td>
                <td>Fionnuala Silke</td>
            </tr>
            <tr>
                <td>Treasurer</td>
                <td>Joe Davey</td>
            </tr>
            <tr>
                <td>PRO</td>
                <td>Michael O'Connell</td>
            </tr>
            <tr>
                <td>Assistant PRO</td>
                <td>David Kearins</td>
            </tr>
            <tr>
                <td>Registrar</td>
                <td>Anne McHugh</td>
            </tr>
            <tr>
                <td>Child Protection</td>
                <td>Cindy McCarty</td>
            </tr>
            <tr>
                <td>Secretary</td>
                <td>Cathy McCarthy</td>
            </tr>
            <tr>
                <td>Women's Team Captain</td>
                <td>JFionnuala Silke</td>
            </tr>
            <tr>
                <td>Men's Team Captain</td>
                <td>Rory Connor</td>
            </tr>
            <tr>
                <td>Coaches Rep</td>
                <td>Terry Hayes</td>
            </tr>
        </tbody>
    </table>*@
</div>

