
@{
    ViewData["Title"] = "Admin";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>


    Coaches list, what cat they couch, availibilty,certs
    <br />
    info emil to people- ddl of catagories basic email tmeplate
    <br />
    list of memebrs and serch box to find member
</p>
