
@{
    ViewData["Title"] = "Admin";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <br />
    <a asp-area="" asp-controller="Home" asp-action="Coaches">Coach Management</a>
    <br />
    <p>All necessary information on all coaches </p>
    <br />
    <a asp-area="" asp-controller="Home" asp-action="GroupEmail">Group Email</a>
    <br />
    <p>E-mail different groups of memebers</p>
    <br />
    <a asp-area="" asp-controller="Members" asp-action="Index">Members Details</a>    
    <br />
    List of all members with search facility 
</div>
