@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>*@
<div class="container">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2" for="text">Your Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="text" >
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="text">Contact Number</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="text" >
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="text">Question</label>
            <div class="col-sm-10">
               <textarea id="TextArea1" rows="10" cols="40"></textarea>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</div>
<address>
    <strong>To contact us please email</strong> <a href="mailto:Support@example.com"> sligoac@gmail.com.</a><br />
</address>
    
