
@{
    ViewData["Title"] = "GroupEmail";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<form asp-controller="Home" method="post" class="form-horizontal">
    <div class="form-group">
        <label class="col-md-3 control-label" style="color:black; text-align:left">Who would you like to email?:</label>
        <div class="col-md-9">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select-- <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Juvenille</a></li>
                <li><a href="#">Junior</a></li>
                <li><a href="#">Seniors</a></li>
                <li><a href="#">All Members</a></li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" style="text-align:left">
            Email Title:
        </label>
        <div class="col-md-10">
            <input id="Text1" type="text" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" style="text-align:left">
            Email Content:
        </label>
        <div class="col-md-10">
            <textarea id="TextArea1" rows="10" cols="200"></textarea>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-3">
            <input id="btnSend" type="submit" value="Send" class="btn btn-primary" />
        </div>
    </div>
</form>