
@{
    ViewData["Title"] = "Information";
}
<asp:Content ContentPlaceHolderID="mainPlaceholder" runat="server">
    <h1>TRAINING TIMES & VENUES</h1>
    <br />
    Weekdays
    <br />
    Juveniles:
    <br /> Mondays: IT Sligo Track/Indoor 6 to 7pm
    <br />
    Junior:
    <br />Tuesdays and Thursdays: IT Sligo Track 5:15pm
    <br />
    Senior:
    <br />
    Tuesdays: IT Sligo Track/GAA Pitch 6pm.
    <br />
    Thursdays: Cleveragh Regional Park 6pm.
    <br />
    <p>New members welcome! All abilities catered for.<br /></p>
</asp:Content>