@model MembersViewModel
@{
    ViewData["Title"] = "Subscriptions";
}
<h2>@ViewData["Title"].</h2>

<form asp-controller="Account" asp-action="Subscriptions" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4>Create a new account.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="FirstName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Surname" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Surname" class="form-control" />
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="DateOfBirth" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="DateOfBirth" class="form-control" />
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Gender" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select-- <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Male</a></li>
                <li><a href="#">Female</a></li>
            </ul>
        </div>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address1" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Address1" class="form-control" />
            <span asp-validation-for="Address1" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Address2" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Address2" class="form-control" />
            <span asp-validation-for="Address2" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="County" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select-- <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Antrim</a></li>
                <li><a href="#">Armagh</a></li>
                <li><a href="#">Carlow</a></li>
                <li><a href="#">Cavan</a></li>
                <li><a href="#">Clare</a></li>
                <li><a href="#">Cork</a></li>
                <li><a href="#">Derry</a></li>
                <li><a href="#">Donegal</a></li>
                <li><a href="#">Down</a></li>
                <li><a href="#">Dublin</a></li>
                <li><a href="#">Fermanagh</a></li>
                <li><a href="#">Galway</a></li>
                <li><a href="#">Kerry</a></li>
                <li><a href="#">Kildare</a></li>
                <li><a href="#">Kilkenny</a></li>
                <li><a href="#">Laois</a></li>
                <li><a href="#">Leitrim</a></li>
                <li><a href="#">Limerick</a></li>
                <li><a href="#">Longford</a></li>
                <li><a href="#">Louth</a></li>
                <li><a href="#">Mayo</a></li>
                <li><a href="#">Meath</a></li>
                <li><a href="#">Monaghan</a></li>
                <li><a href="#">Offaly</a></li>
                <li><a href="#">Roscommon</a></li>
                <li><a href="#">Sligo</a></li>
                <li><a href="#">Tipperary</a></li>
                <li><a href="#">Tyrone</a></li>
                <li><a href="#">Waterford</a></li>
                <li><a href="#">Westmeath</a></li>
                <li><a href="#"> Wexford</a></li>
                <li><a href="#"> Wicklow</a></li>
            </ul>
            <span asp-validation-for="County" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Province" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select-- <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Connaught</a></li>
                <li><a href="#">Leinster</a></li>
                <li><a href="#">Munster</a></li>
                <li><a href="#">Ulster</a></li>
              
            </ul>
            <span asp-validation-for="Province" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="TeamName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="TeamName" class="form-control" />
            <span asp-validation-for="TeamName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="CountyofBirth" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select-- <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Antrim</a></li>
                <li><a href="#">Armagh</a></li>
                <li><a href="#">Carlow</a></li>
                <li><a href="#">Cavan</a></li>
                <li><a href="#">Clare</a></li>
                <li><a href="#">Cork</a></li>
                <li><a href="#">Derry</a></li>
                <li><a href="#">Donegal</a></li>
                <li><a href="#">Down</a></li>
                <li><a href="#">Dublin</a></li>
                <li><a href="#">Fermanagh</a></li>
                <li><a href="#">Galway</a></li>
                <li><a href="#">Kerry</a></li>
                <li><a href="#">Kildare</a></li>
                <li><a href="#">Kilkenny</a></li>
                <li><a href="#">Laois</a></li>
                <li><a href="#">Leitrim</a></li>
                <li><a href="#">Limerick</a></li>
                <li><a href="#">Longford</a></li>
                <li><a href="#">Louth</a></li>
                <li><a href="#">Mayo</a></li>
                <li><a href="#">Meath</a></li>
                <li><a href="#">Monaghan</a></li>
                <li><a href="#">Offaly</a></li>
                <li><a href="#">Roscommon</a></li>
                <li><a href="#">Sligo</a></li>
                <li><a href="#">Tipperary</a></li>
                <li><a href="#">Tyrone</a></li>
                <li><a href="#">Waterford</a></li>
                <li><a href="#">Westmeath</a></li>
                <li><a href="#"> Wexford</a></li>
                <li><a href="#"> Wicklow</a></li>
            </ul>
            <span asp-validation-for="CountyofBirth" class="text-danger"></span>
        </div>
    </div>
    <label>Would you be willing to participate in the following:</label>
    <div class="form-group">
        <label class="col-md-2 control-label">Fundraising Activities</label>
        <div class="col-md-10">
            <div class="radio-inline">
                <label class="radio-inline"><input type="radio" name="optradio">Yes</label>
                <label class="radio-inline"><input type="radio" name="optradio">No</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Volunteering at juvenile events</label>
        <div class="col-md-10">
            <div class="radio-inline">
                <label class="radio-inline"><input type="radio" name="optradio">Yes</label>
                <label class="radio-inline"><input type="radio" name="optradio">No</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Volunteering at juvenile coaching sessions</label>
        <div class="col-md-10">
            <div class="radio-inline">
                <label class="radio-inline"><input type="radio" name="optradio">Yes</label>
                <label class="radio-inline"><input type="radio" name="optradio">No</label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </div>
</form>
@*<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="business" value="darraghmcgowan@ymail.com">
    <input type="hidden" name="item_name" value="Membership Type">
    <input type="hidden" name="item_number" value="001">
    <table>
        <tr>
            <td>
                <input type="hidden" name="on0" value="Type">Type
            </td>
        </tr>
        <tr>
            <td>
                <select name="os0">
                    <option value="Adult">Senior/Master €40.00 EUR</option>
                    <option value="1Junior">Junior €15.00 EUR</option>
                    <option value="2Juniors">2 Juniors €30.00 EUR</option>
                    <option value="3Juniors">3 Juniors €45.00 EUR</option>
                    <option value="Adult1Junior">1 Adult, 1 Junior €55.00 EUR</option>
                    <option value="Adult2Juniors">1 Adult, 2 Juniors €60.00 EUR</option>
                    <option value="Family">Family €70.00 EUR</option>
                </select>
            </td>
        </tr>
    </table>
    <input type="hidden" name="option_select0" value="Adult">
    <input type="hidden" name="option_amount0" value="00.10">
    <input type="hidden" name="option_select1" value="1junior">
    <input type="hidden" name="option_amount1" value="15.00">
    <input type="hidden" name="option_select2" value="2junior">
    <input type="hidden" name="option_amount2" value="30.00">
    <input type="hidden" name="option_select3" value="3junior">
    <input type="hidden" name="option_amount3" value="45.00">
    <input type="hidden" name="option_select4" value="Adult1Junior">
    <input type="hidden" name="option_amount4" value="55.00">
    <input type="hidden" name="option_select5" value="Adult2Junior">
    <input type="hidden" name="option_amount5" value="60.00">
    <input type="hidden" name="option_select6" value="Family">
    <input type="hidden" name="option_amount6" value="70.00">

    <input type="hidden" name="currency_code" value="EUR">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>*@
<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="RW5XB83LYQ4CS" >
    @*value="F26MVS5A6G7X6"*@
    <table>
        <tr><td><input type="hidden" name="on0" value="Membership Subs">Membership Subs</td></tr>
        <tr>
            <td>
                <select name="os0">
                    <option value="Senior/Master">Senior/Master €40.00 EUR</option>
                    <option value="1 Junior">1 Junior €15.00 EUR</option>
                    <option value="2 Juniors">2 Juniors €30.00 EUR</option>
                    <option value="3 Juniors">3 Juniors €45.00 EUR</option>
                    <option value="Adult + 1 Junior">Adult + 1 Junior €55.00 EUR</option>
                    <option value="Adult + 2 Juniors">Adult + 2 Juniors €60.00 EUR</option>
                    <option value="Family">Family €70.00 EUR</option>
                </select>
            </td>
        </tr>
    </table>
    <input type="hidden" name="currency_code" value="EUR">
    <input type="image" src="https://www.sandbox.paypal.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
