@{
    ViewData["Title"] = "Payment Complete";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Thank you for your Payement it has been completed,
</p>
<p>
    You will shortly receive an email from Paypal wiht your receipt
</p>
<p>Click here to go home</p>
<td><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></td>